<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>NOTIFICATIONS</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Notifications list</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/customers}">Customers list</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <h1> Notifications </h1>
    </div>

    <!--    <div class="row">-->
    <!--        <div class="col-lg-3">-->
    <!--            <a th:href="@{/movies/new}" class="btn btn-primary btn-sm mb-3"> Add movie </a>-->
    <!--        </div>-->
    <!--    </div>-->
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th> sent to email </th>
            <th> sender </th>
            <th> message </th>
            <th> sent at </th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="notification: ${notifications}">
            <td th:text="${notification.toCustomerEmail}"></td>
            <td th:text="${notification.sender}"></td>
            <td th:text="${notification.message}"></td>
            <td th:text="${notification.sentAt}"></td>
            <!--            <td>-->
            <!--                <a th:href="@{/movies/edit/{id}(id=${movie.id})}" class="btn btn-primary">Update</a>-->
            <!--                <a th:href="@{/movies/{id}(id=${movie.id})}" class="btn btn-danger">Delete</a>-->
            <!--            </td>-->
        </tr>
        </tbody>

    </table>

</div>
</body>
</html>